.card-hor--wrap
	display flex
	align-itmes flex-start
	margin-bottom 62px
.card-hor--wrap
	&-2
	&-4
	&-6
		flex-direction row-reverse
		.card-hor
			flex-direction row-reverse
		.card-hor_text
			padding-left 72px

.card-hor
	display flex
	justify-content space-between
	align-items center
	max-width 715px
	max-height 250px
	max-width 655px

	background-color c-surface
	border-radius 12px
	shade()

	&--1
		position relative
		.card-hor_img
			position absolute
			bottom 0
			left 15%
	&--2
		position relative
		flex-direction row-reverse
		.card-hor_img
			position absolute
			right 15%
			bottom 0
	&--3
		position relative
		.card-hor_img
			position absolute
			bottom 50px
			left 10%
	&--4
		position relative
		.card-hor_img
			position absolute
			right 10%
			bottom 0

		.card-hor_text
			min-width 480px
	&--5
		position relative
		.card-hor_img
			position absolute
			left 10%
			bottom 0

	&--6
		position relative
		.card-hor_img
			position absolute
			right 0
			bottom 0

	&--7
		position relative
		.card-hor_img
			position absolute
			left 15%
			bottom 0

.card-hor_picture
	max-height 250px
.card-hor_arrow
	width 20% !important
	margin-top 124px
	margin-left 62px
	margin-right 62px
// .card-hor_img
// 	align-self: flex-end
// 	max-height 100%

.card-hor_text
	min-width 300px
	padding 89px 74px 89px 27px
	font-size 18px


@media (max-width 1200px)
	.card-hor_picture
		width 100%
		height 250px
	.card-hor--wrap
		flex-direction column
		max-width 80%
		margin 0 auto 50px
	.card-hor
		flex-direction column
		max-height 800px
	.card-hor_text
		padding-top 0
		padding-bottom 20px
		line-height 1.5
	.card-hor--1 
	.card-hor--4 
		.card-hor_picture
			margin-bottom -70px
	.card-hor_img
		margin-left auto
		margin-right auto	
	.card-hor
		&--1
			.card-hor_img
				width 40%
				left -49%
				top -18%
				left 0
				right 0
		&--2
			flex-direction column !important
			.card-hor_img
				width 40%
				left 0
				right 0
				top: 10%;
		&--3
			.card-hor_img
				width 60%
				left 0
				right 0
				top 10%
		&--4
			flex-direction column !important
			.card-hor_img
				width 40%
				top -10%
				left 0
				right 0
		&--5
			.card-hor_img
				width 60%
				left: 0
				right 0
				top: 5%;
		&--6
			flex-direction column !important
			.card-hor_img
				width 80%
				top: 0%;
				left: 0
				right 0
		&--7
			.card-hor_img
				width 50%
				top -5%
				left -40%
				top: -3%;
				left: 0
				right 0
		
		.card-hor_text
			text-align center
			padding-left 20px
			padding-right 20px
			margin-left 0
			margin-right 0
			min-width 100%
	.card-hor_arrow
		margin-top 62px
		width 50% !important
	.card-hor--wrap:nth-child(odd)
		.card-hor_arrow
			transform rotate(42deg) !important
	.card-hor--wrap:nth-child(even)
		.card-hor_arrow
			transform rotate(-42deg) !important


@media (min-width 500px) and (max-width 1200px)
	.card-hor_arrow
		width 20% !important
		margin-left auto
		margin-right auto
		z-index 5
	.card-hor
		margin 0 auto
		max-width 485px
	.card-hor--1 .card-hor_img
		width auto
		left -15%
		right unset
		top -20%
	.card-hor--2 .card-hor_img
		left unset
		right unset
		top -8%
		margin-bottom -50px;
	.card-hor--3 .card-hor_img
		width initial
		left unset
		right 20%
		top -10%
		margin-left 0
		margin-bottom -50px
	.card-hor--4 .card-hor_img
		width auto
		right unset
		left -26%
		top -13%
	.card-hor--5 .card-hor_img
		width auto
		right unset
		left unset
		top -10%
		margin-bottom -50px
	.card-hor--6 .card-hor_img
		width auto
		right unset
		left -40%
	.card-hor--7 .card-hor_img
		width auto
		right 28%
		left unset
		