.callback-pop_wrap
	pop-wrap()
	display none
.callback-pop_inner
	display flex
	justify-content center
	align-items center
	height 100%

.callback-pop
	position relative
	max-width 340px
	background c-surface
	padding 40px
	display flex
	flex-direction column
	border-radius 16px
	box-shadow: 0px 5px 0px #F21D1F;

.callback-pop_title
	margin-bottom 16px
	text-align center

.input-form-name
	display none
