.callback-pop_wrap
	pop-wrap()
	display none
.callback-pop_inner
	display flex
	justify-content center
	align-items center
	height 100%

.callback-pop
	position relative
	max-width 340px
	background c-surface
	padding 40px
	display flex
	flex-direction column
	border-radius 16px
	box-shadow: 0px 5px 0px #F21D1F;

.callback-pop_title
	margin-bottom 16px
	text-align center

.callback-pop_subtitle
	text-align center
	margin-bottom 16px
	font-size 16px
	line-height 1.5

.callback-pop_input
	padding 20px !important

.callback-pop_btn
	margin-bottom 55px

.callback-pop_link
	text-align center
	font-weight 600
	color: c-second
	font-size 18px

.input-form-name
	display none
