section.bonus
	+title('2 услуги бесплатно', 10, 'bonus')
	.container
		img(src="static/img/10-bonus/key-normal.webp").bonus-img-1
		.bonus-content
			h2.bonus_title Получи 2 услуги бесплатно
			p.bonus_text
				span 1.
				|  Техническую поддержку в течение года
			p.bonus_text
				span 2.
				|  Услугу «
				a(href="http://delivery.fadeevgroup.com") Покупка и доставка товаров с мировых торговых площадок
				| »
			p.bonus_text При заказе продвижения на мировой рынок «Под&nbsp;ключ»
			.bonus-buttons
				button.g-primary-btn.bonus-btn(data-button="Бонус 2 услуги бесплатно") Сделать заказ
				+gdpr('Сделать заказ')
		img(src="static/img/10-bonus/6free-normal.webp").bonus-img-2
		img(src="static/img/10-bonus/7free-normal.webp").bonus-img-3