section.cases
	+title('Кейсы',15,'cases')
	.container
		.cases-slider_wrap
			.cases-wrap
				+case({
						'title': 'Магазин товаров из Китая',
						'numb' : '1',
						'pic' : '1',
						'budget' : '$1000',
						'result' : '$10000 чистыми',
						'time' : '2 месяца',
						'descr' : 'Рассказываем о результате нашей работы, трудности, с которыми мы столкнулись и как их преодолели',
				})
				+case({
						'title': 'Магазин товаров из Китая',
						'numb' : '1',
						'pic' : '1',
						'budget' : '$1000',
						'result' : '$10000 чистыми',
						'time' : '2 месяца',
						'descr' : 'Рассказываем о результате нашей работы, трудности, с которыми мы столкнулись и как их преодолели',
				})
				+case({
						'title': 'Магазин товаров из Китая',
						'numb' : '1',
						'pic' : '1',
						'budget' : '$1000',
						'result' : '$10000 чистыми',
						'time' : '2 месяца',
						'descr' : 'Рассказываем о результате нашей работы, трудности, с которыми мы столкнулись и как их преодолели',
				})
				+case({
						'title': 'Магазин товаров из Китая',
						'numb' : '1',
						'pic' : '1',
						'budget' : '$1000',
						'result' : '$10000 чистыми',
						'time' : '2 месяца',
						'descr' : 'Рассказываем о результате нашей работы, трудности, с которыми мы столкнулись и как их преодолели',
				})
