section.comfort
	+title('Почему со мной комфортно работать', 10, 'comfort')

	.container
		ul.comfort-list
			li.comfort-item.comfort-item--1
				img.comfort__pic(src="static/img/8-comfort/vald-normal.webp", alt="")
				p.comfort__text Ваш проект буду вести я и вся <span>ответственность</span> только <span>на</span>
					a(href="") мне
					| .

			li.comfort-item.comfort-item--2
				img.comfort__pic(src="static/img/8-comfort/warranty-normal.webp", alt="")
				p.comfort__text Все <span>материальные потери</span>, полученные по моей вине, <span>оплачиваю я</span>.

			li.comfort-item.comfort-item--3
				img.a-comfort-money(src="static/img/8-comfort/fallingmoney-normal.webp")
				img.comfort__pic(src="static/img/8-comfort/cash-normal.webp", alt="")
				p.comfort__text Делаю отчетность по работе каждую неделю, чтобы клиент знал, как <span>растут</span> его <span>продажи и каковы его расходы.

			li.comfort-item.comfort-item--4
				img.comfort__pic(src="static/img/8-comfort/attentive-normal.webp", alt="")
				p.comfort__text Я <span>внимателен к каждому клиенту</span> и решение о сотрудничестве принимается с двух сторон.<br><br>Да, я могу отказать. <span>Работать</span> приходится <span>с клиентом</span> от одного месяца <span>до нескольких лет</span>, поэтому не хочется портить себе и другим это время.
