section.comfort
	+title('Почему со мной комфортно работать', 10, 'comfort')

	.container
		ul.comfort-list
			li.comfort-item.comfort-item--1(data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="300")
				img.comfort__pic--1.comfort__pic(src="static/img/content/comfort/justice.png", alt="")
				p.comfort__text Ваш проект буду вести я и вся ответственность только на мне.

			li.comfort-item.comfort-item--2(data-aos="flip-right" data-aos-easing="ease-out-cubic" data-aos-duration="600")
				.comfort__pic.comfort__pic--2
				p.comfort__text Все материальные потери, полученные по моей вине, оплачиваю я.

			li.comfort-item.comfort-item--3(data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="900")
				.comfort__pic.comfort-pic
				p.comfort__text Делаю отчетность по работе каждую неделю, чтобы клиент знал, как растут его продажи и каковы его расходы.

			li.comfort-item.comfort-item--4(data-aos="flip-right" data-aos-easing="ease-out-cubic" data-aos-duration="1200")
				.comfort__pic.comfort__pic--4
				p.comfort__text Я внимателен к каждому клиенту и решение о сотрудничестве принимается с двух сторон.<br>Да, я могу отказать. Работать приходится с клиентом от одного месяца до нескольких лет, поэтому не хочется портить себе и другим это время.
