section.exp.container.exp-amazon
	h2.exp-title.exp-amazon-title Работаю с Amazon, eBay,  Alibaba на протяжение пеяти лет, что позволяет:
	
	ul.exp-bullets
		li.exp-bullet(data-aos="fade-up" data-aos-duration="300")
			img.exp__img(src="static/img/content/4-experience/1.png", alt="1")
			h3.microtitle Не сливать
			p.exp__descr бюджет клиента
		li.exp-bullet(data-aos="fade-up" data-aos-duration="600")
			img.exp__img(src="static/img/content/4-experience/2.png", alt="2")
			h3.microtitle Автоматизировать
			p.exp__descr бизнес-процессы
		li.exp-bullet(data-aos="fade-up" data-aos-duration="900")
			img.exp__img(src="static/img/content/4-experience/3.png", alt="3")
			h3.microtitle Повышать
			p.exp__descr количество продаж
		li.exp-bullet(data-aos="fade-up" data-aos-duration="1200")
			img.exp__img(src="static/img/content/4-experience/4.png", alt="4")
			h3.microtitle Решать
			p.exp__descr любой вопрос с&#160;техподдержкой
		li.exp-bullet(data-aos="fade-up" data-aos-duration="1500")
			img.exp__img(src="static/img/content/4-experience/5.png", alt="5")
			h3.microtitle Выводить
			p.exp__descr товар/услугу на международный рынок
