.callback-pop_wrap
	.callback-pop_inner
		form.callback-pop
			button(type='button' data-pop="callback").pop_close-btn ×
			h3.callback-pop_title Оставьте любые удобные контакты
			p.callback-pop_subtitle Чтобы мы могли вам перезвонить
			input.input-form-name.input-callback(name="formname" value="callback")
			input.g-input.callback-pop_input(
				name="name" type="name" placeholder="Имя" required
			)
			input.g-input.callback-pop_input(
				name="tel" placeholder="Телефон"
				type="tel" autocorrect="off" autocomplete="tel" required
			)
			button.g-primary-btn.callback-pop_btn
				span Перезвоните мне
			p.callback-pop_subtitle Или свяжитесь с нами в любом удобном мессенджере
			a(href="tel:+375000000000").callback-pop_link +375 00 000 00 00
			+socials({ 'class': 'footer-socials-icons',
				'inst': 'https://instagram.com',
				'vk': 'https://vk.com',
				'fb': 'https://facebook.com',
				'tg': 'https://telegram.org',
				'whats': 'https://whatsapp.com',	
				'vi': 'https://viber.com'
			})



