section.exp.container#start
	h2.exp-title Международные торговые площадки — это огромная перспектива для развития, как юридическим лицам, так и физическим. <br><br>При этом не важно с какой страны товар/услуга, важно не бояться получать деньги от клиентов со всего мира.
	.cake-img
		img(src="static/img/content/2-results/cake.png" alt="cake")
	ul.exp-bullets
		li.exp-bullet(data-aos="fade-up" data-aos-duration="300")
			.exp_img-container
				img.exp__img(src="static/img/content/2-results/1.png", alt="1")
			h3.microtitle 50
			p.exp__descr Магазинов работающих на&#160;Европу и Америку

		li.exp-bullet(data-aos="fade-up" data-aos-duration="900")
			.exp_img-container
				img.exp__img(src="static/img/content/2-results/3.png", alt="3")
			h3.microtitle 5 лет
			p.exp__descr Работаем на международных торговых площадках
		li.exp-bullet(data-aos="fade-up" data-aos-duration="600")
			.exp_img-container
				img.exp__img(src="static/img/content/2-results/2.png", alt="2")
			h3.microtitle $350 000+
			p.exp__descr Чистой прибыли моих клиентов

