section.services
	+title('Услуги', 15, 'services')
	.container
		.services-items
			.services-item
				.services-card
					h3.services-card__name #1 Анализ мирового рынка
					p.services-card__descr Прежде, чем выйти на мировой рынок со своим товаром/услугой, нужно узнать о спросе на него. Если спрос есть, то количество продаж будет высоким. Если спроса нет, то придётся создать его
					button(data-service="Анализ мирового рынка").services-more.g-secondary-btn
						span Подробнее
				img.services-pic(src="static/img/content/3-services/1.png", alt="" data-aos="fade-down" data-aos-duration="500")


			.services-item
				.services-card
					h3.services-card__name #2 Прогнозирование продаж товаров/услуг
					p.services-card__descr После анализа рынка будет составлен прогноз продаж:<br><span>1.</span> Максимальное и минимальное количество клиентов в месяц<br><span>2.</span> Цикл сделки<br><span>3.</span> Средний чек
					button(data-service="Прогнозирование продаж товаров/услуг").services-more.g-secondary-btn
						span Подробнее
				img.services-pic(src="static/img/content/3-services/2.png", alt="" data-aos="fade-down" data-aos-duration="500")


			.services-item
				.services-card
					h3.services-card__name.services-card__name--3 #3 Создание и ведение онлайн-магазина
					p.services-card__descr Закончив с прогнозирование переходим к созданию онлайн магазина на торговой  площадке:<br><br><span>1.</span> Регистрируем аккаунт<br><span>2.</span> Заполняем все необходимые данные <br><span>3.</span> Подключаем нужную (ые) платежные системы<br><span>4</span>. Определяемся с количеством товара и выбираем продающий тип магазина <br><span>4.</span> Оформляем страницу магазина и товарный ассортимент <br><span>5.</span> Выгружаем весь ассортимент  на торговую площадку
					button(data-service="Создание и ведение онлайн-магазина").services-more.g-secondary-btn
						span Подробнее
				img.services-pic(src="static/img/content/3-services/3.png", alt="" data-aos="fade-down" data-aos-duration="500")


			.services-item
				.services-card
					h3.services-card__name #4 Продвижение товаров/услуг в топ поиска по сайту
					p.services-card__descr Магазин готов к полноценной работе, улажены технические вопросы, теперь выводим ваш товар/услугу в топ поисковика торговой площадки — клиент должен видеть ваше предложение первым
					button(data-service="Продвижение товаров/услуг в топ поиска по сайту").services-more.g-secondary-btn
						span Подробнее
				img.services-pic(src="static/img/content/3-services/4.png", alt="" data-aos="fade-down" data-aos-duration="500")


			.services-item
				.services-card
					h3.services-card__name #5 Пакетное добавление товаров/услуг
					p.services-card__descr Пакетное добавление - это пополнение ассортимента товаров/услуг уже в готовом магазине на торговой площадке
					button(data-service="Пакетное добавление товаров/услуг").services-more.g-secondary-btn
						span Подробнее
				img.services-pic(src="static/img/content/3-services/5.png", alt="" data-aos="fade-down" data-aos-duration="500")


			.services-item
				.services-card
					h3.services-card__name #6 Тех. поддержка онлайн-магазинов
					p.services-card__descr Так может случится, что ваш онлайн-магазин могут закрыть просто закрыть, без объяснение причины. И тут без моей помощи будет крайне непросто, потому что надо знать множество законов Евросоюза, Америки и самих торговых площадок
					button(data-service="Тех. поддержка онлайн-магазинов").services-more.g-secondary-btn
						span Подробнее
				img.services-pic(src="static/img/content/3-services/6.png", alt="" data-aos="fade-down" data-aos-duration="500")


			.services-item
				.services-card.services-card--7
					h3.services-card__name #7 Покупка и доставка товаров с мировых торговых площадок
					a(href="http://delivery.fadeevgroup.com" data-service="Покупка и доставка товаров с мировых торговых площадок").services-more.g-secondary-btn
						span Подробнее
				img.services-pic(src="static/img/content/3-services/7.png", alt="" data-aos="fade-down" data-aos-duration="500")
