seciton.timer-section
	.container.confetti
		.timer-content
			.timer-offer
				h2.section_title.timer-section_title Бесплатно закажите товар с любой мировой площадки до 1 января
				button(data-button="Обратный счетчик").g-primary-btn.timer-btn Заказать товар бесплатно
			.timer#timer
				.timer_time.days-timer
					.days.time_remains
					p.timer_title Дней
				.timer_time
					.hours.time_remains
					p.timer_title Часов
				.timer_time
					.minutes.time_remains
					p.timer_title Минут
				.timer_time
					.seconds.time_remains
					p.timer_title Секунд
			
