section.work
	+title('Этапы работы', 8, 'work')
	.container
		.work-content
			+cardHor(1,'Вы заполняете предварительный бриф о своём проекте/идее.','right')
			+cardHor(2,'Я звоню Вам, чтобы детальнее обсудить его.','left')
			+cardHor(3,'Высылаю вам коммерческое предложение.','right')
			+cardHor(4,'Согласовываем бюджет, сроки, зону ответственности.','left')
			+cardHor(5,'Заключаем договор.','right')
			+cardHor(6,'Я выполняю проект в соответствии с заключенным договором.','left')
			+cardHor(7,'Вы принимаете выполненный проект.','none')
