main {
	position: relative;
	width: 100%;
	height: 100vh;
	position absolute
	top 0
	left 0
	z-index -5
}
#slider {
	width: 100%;	
	// max-width: 1200px;
	height: 100%;
	margin: 0 auto;
	position: relative;
}
canvas
	width: 150%;
	height: 150%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1.2);
	z-index: 3;
	
main:after
	content ''
	display block
	position absolute
	top 0
	left 0
	width 50%
	height 100%
	background-color #0b090b
	z-index 4
	
.hero-slider-pic {
	width: 100%;
	max-width: 100%;
	height 100vh
	position: absolute;
	z-index: 0;
	top -100000px
	left -10000px
}
// canvas
// 	position absolute
// 	top 0
// 	right 0
// 	z-index -3
// .hero-slider_item--inside
// 	width 100vw
// 	height 100vh
// #slider
// 	width: 100%;
// 	max-width: 1200px;
// 	height: 100%;
// 	margin: 0 auto;
	// position: relative;

@keyframes loader-rotate {
  100% {
    transform: rotate(360deg);
  }
}


.hero-img
	width 100vw
	height 100vh
	position absolute
	// top -100000px
	// left -100000px
	top 0
	left 0
	// z-index 10
	z-index -5
		

.preloader
	width 100vw
	height 100vh
	position fixed
	top 0
	right 0
	bottom 0
	left 0
	background-color #000
	z-index 100000000
.preloader_loader
.preloader_logo
	position absolute
	top 0
	right 0
	left 0
	bottom 0
	margin auto
.preloader_logo
	width 100px
.preloader_loader
	width 300px
	animation: loader-rotate 2s infinite ease-in-out;

.hero-socilas__item
.hero-fullscreen-menu-socilas__item
	max-width 30px
	margin-bottom 10px
	svg
		max-width 30px
// svg:hover path
// 	stroke c-prim
svg:hover .ig-path
svg:hover .wa-path
	fill c-prim
	
.social--vk:hover path
.social--fb:hover path
.social--tg:hover path
	stroke c-prim
	fill rgba(0,0,0,0)

.hero-contacts svg:hover path
	stroke none
	fill white			


.hero
	overflow hidden
.hero-container
	height: 100vh
	// background-image url('../img/content/hero.png')
.hero-content
	position relative
	height 100vh
	z-index 3

.hero-fullscreen-menu__callback{
	font-size 26px	
	border none
	text-align right	
	background-color transparent
	text-decoration underline
	color #fff
	font-weight 700	
	padding 0	
	font-family Montserrat
}

.hero-fullscreen-menu-contacts--tel
	font-size 26px
	text-align right

.c-hero-super-logo
	position absolute
	top 0
	left 0
	width 100vw
	height 100vh
	z-index -1
	transition all 0.4s
#hero-super-logo--desktop
	position absolute
	left -22px

.offer
	position absolute
	bottom 32px
	max-width 670px
	left 13vw
	transition all 0.4s
.headliner
	font-size 57px
	font-weight 900
	line-height 1.1
	margin-bottom 16px

.hero-contacts
	display flex
	align-items flex-start
.hero-socials
	display flex
	flex-direction column
.hero-socilas__item
	max-width 30px
	margin-bottom 10px
	*
		max-width 30px
.hero-slider
	position absolute !important
	right 0
	top 0
	width 100vw
	height 100vh
	z-index -2
.descriptor
	font-size 31px
	line-height 1.3
	margin-bottom 26px

hero-arrow-anim = 8px
@keyframes hero-arrow
	0%
		transform translateY(-hero-arrow-anim)
	50%
		transform translateY(hero-arrow-anim)
	100%
		transform translateY(-hero-arrow-anim)

.hero-cta
	background-color transparent
	border none
	margin-left 70%
	display block
	animation hero-arrow 2s ease infinite


.hero-nav
	position fixed
	z-index 100000
	top 26px
	left 26px

.hero-menu-btn
	background-color transparent
	border none
	padding 0
	position absolute
	top -16px
	left -5px
	// border 4px solid c-f
	// border-radius 50%

.progress-ring
	position relative
	overflow visible !important
	transition all 0.3s ease
	width 30px
	height 30px
	top 0
	left 0
	padding-top 10px
	padding-left 10px
	z-index 100000000
.progress-ring__circle{
	opacity: 0;
}
.hero-nav--hidden:after {
	content: '';
	display block
	width 40px
	height 40px
	background-color #0b090b
	// background-color red
	// background-blend-mode multiply
	position absolute
	left -29px
	top -29px
	z-index 100
}
.hero-nav--hidden:before {
	content: '';
	display block
	width 40px
	height 28px
	background-color #0b090b
	// background-color red
	// background-blend-mode multiply
	position absolute
	left -0px
	top -29px
	z-index 100
}

.hero-menu-btn:after
	content: ''
	width 10px
	height 10px
	border-radius 50%
	background-color c-f
	position absolute
	top 17px
	left 17px
	box-sizing: content-box;
.hero-menu-btn--hidden:after
	border: 13px solid #0b090b;
	// border-color red
	top: 3px;
	left: 4px;
.hero-menu-btn:hover .hero-menu-btn:after
	background-color c-prim
	
.hero-menu__item
	color c-f
	font-size 22px
	font-weight 600
	margin-right 26px

// .hero-img
// 	background linear-gradient(90.63deg, #09090A 0.53%, rgba(9, 9, 10, 0) 25.47%),  url('../img/content/footer-world.png')
// 	background-size cover
// 	width 49%
// 	height 100%
// 	position absolute
// 	top 0
// 	right 0
// 	z-index -2

.hero-menu-hor
	position absolute
	left 52px
	top -10px
	transition left 0.6s, opacity 0.4s
	opacity 1

.hero-menu-hor--active
	left -500px
	opacity 0

.hero-menu-ver
	transform rotate(-90deg)
	position absolute
	left -110px
	top 122px
	transition top 0.6s, opacity 0.4s
	opacity 1

.hero-menu-ver--active
	top -500px
	opacity 0

.hero-contacts
	position absolute
	right 26px
	top 15px
	z-index 10

.hero-phone
	padding-top 3px
	margin-right 20px
	font-size 18px
	color transparent
	font-weight 900
	-webkit-text-stroke 1.5px #fff
	letter-spacing 0.15em
	transition all 0.3s ease
	// text-shadow:0px 1px 0 rgb(255,255,255),0px -1px 0 rgb(255,255,255),1px 0px 0 rgb(255,255,255),-1px 0px 0 rgb(255,255,255),1px 1px 0 rgb(255,255,255),1px -1px 0 rgb(255,255,255),-1px 1px 0 rgb(255,255,255),-1px -1px 0 rgb(255,255,255),0px 2px 0 rgb(255,255,255),0px -2px 0 rgb(255,255,255),2px 0px 0 rgb(255,255,255),-2px 0px 0 rgb(255,255,255),2px 2px 0 rgb(255,255,255),2px -2px 0 rgb(255,255,255),-2px 2px 0 rgb(255,255,255),-2px -2px 0 rgb(255,255,255);
	// -webkit-text-shadow:0px 1px 0 rgb(255,255,255),0px -1px 0 rgb(255,255,255),1px 0px 0 rgb(255,255,255),-1px 0px 0 rgb(255,255,255),1px 1px 0 rgb(255,255,255),1px -1px 0 rgb(255,255,255),-1px 1px 0 rgb(255,255,255),-1px -1px 0 rgb(255,255,255),0px 2px 0 rgb(255,255,255),0px -2px 0 rgb(255,255,255),2px 0px 0 rgb(255,255,255),-2px 0px 0 rgb(255,255,255),2px 2px 0 rgb(255,255,255),2px -2px 0 rgb(255,255,255),-2px 2px 0 rgb(255,255,255),-2px -2px 0 rgb(255,255,255);
	// -moz-text-shadow:0px 1px 0 rgb(255,255,255),0px -1px 0 rgb(255,255,255),1px 0px 0 rgb(255,255,255),-1px 0px 0 rgb(255,255,255),1px 1px 0 rgb(255,255,255),1px -1px 0 rgb(255,255,255),-1px 1px 0 rgb(255,255,255),-1px -1px 0 rgb(255,255,255),0px 2px 0 rgb(255,255,255),0px -2px 0 rgb(255,255,255),2px 0px 0 rgb(255,255,255),-2px 0px 0 rgb(255,255,255),2px 2px 0 rgb(255,255,255),2px -2px 0 rgb(255,255,255),-2px 2px 0 rgb(255,255,255),-2px -2px 0 rgb(255,255,255);
	&:hover
		color: #fff
		-webkit-text-stroke 0px
		transition all 0.6s ease
.hero-socilas__item svg, .hero-fullscreen-menu-socilas__item svg
	max-height 30px
.hero-socilas__item svg path, .hero-fullscreen-menu-socilas__item svg path
	fill none
	stroke white
	

// fullscreen

.hero-fulscreen-menu-wrap
	display none
	height 100vh
	width 100vw
	padding 62px 0 62px 115px
	position fixed
	z-index 10000
	top 0
	background: linear-gradient(90deg, #09090A 55.76%, rgba(9, 9, 10, 0.9) 81.1%, rgba(9, 9, 10, 0.8) 89.63%, rgba(9, 9, 10, 0.6) 100%);

.hero-fulscreen-menu
	height 100%
	width 50%
	display flex
	flex-direction column
	justify-content space-around

.hero-fullscreen-menu__logo
	max-width 298px
	display inline-block

	*
		max-width 298px

.hero-fullscreen-menu__cta
	display inline-block
.hero-fullscreen-menu-nav
	display flex
	flex-direction column
.hero-fullscreen-menu__link
	color transparent
	font-size 47px
	font-weight 900
	letter-spacing 2%
	line-height 1.6
	-webkit-text-stroke 1.5px #fff
	transition all 0.3s ease
	&:hover
		color c-second
		-webkit-text-stroke 0px
		transition all 0.3s ease

.hero-fullscreen-menu-top
.hero-fullscreen-menu-bottom
	display flex
	justify-content space-between
	align-items center

.hero-fullscreen-menu-socilas
	width 50%
.hero-fullscreen-menu-socials__item
	max-height 54px
	max-width 54px
	margin-right 32px
	*
		max-height 54px
		max-width 54px

.hero-fullscreen-menu-contacts
	display flex
	flex-direction column
.hero-fullscreen-menu-contacts__item
	font-size 26px
	line-height 1.6
	font-weight 900
	color transparent
	-webkit-text-stroke 1.5px #fff
	transition all 0.3s ease
	&:hover
		color c-second
		-webkit-text-stroke 0px
		transition all 0.3s ease

.hero-menu_socials{
	width: 300px;
	display: flex;
	justify-content: space-between;
}
#hero-super-logo--mobile
	display none
.menu-logo--mobile
	display none
.menu-mobile_btn
	display none


#pagination
	position absolute
	top -500000px
@media (max-width 480px)
	.hero-nav--hidden:before,
	.hero-nav--hidden:after {
		background-color rgba(0,0,0,0)
	}
	.hero-menu-btn--hidden:after {
		border none
		top 17px
		left 17px
	}
	canvas
		top: 25%;
	.hero-slider-pic
		height 50%
	
	.hero-fullscreen-menu-contacts__item
		font-size 25px
		text-align center
	.hero-img{
		position absolute
		top 0px
		width 100%
		height 45%
		background linear-gradient(0deg, #09090A 0.53%, rgba(9, 9, 10, 0) 25.47%),  url('../img/content/footer-world.png')
		top 0
		left 0
		background-position: center;
		background-size: 120%;
	}
	.hero-fullscreen-menu-top
		position absolute
		top 26px
		left 0
	#hero-super-logo--desktop
		display none
	#hero-super-logo--mobile
		display block
		width 110%
		// margin-bottom 48%
	.hero-fullscreen-menu__logo
		margin-left 26px
	.c-hero-super-logo
		// padding-top 250px
		position: absolute;
		display flex
		justify-content center
		align-items center
		// left: -21px;
		// top -10%


	.hero-menu-hor
	.hero-menu-ver
	.hero-contacts
		display none

	.offer
		width 100%
		transform translateY(-50px)
		left 0
		// left 8vw
		bottom 8vh
	.headliner
		font-size 26px
		padding-left 26px
		position relative

	.descriptor
		font-size 24px
	.hero-cta
		position relative
		width 70px
		margin 0 auto
		
		img
			width 70px

	.hero-nav
		left initial
		right 26px

	.hero-slider
		top 20%
		right 20%
		transform scale(1.4)

	.hero-fulscreen-menu-wrap
		padding 0
	.hero-fulscreen-menu
		justify-content flex-start
	.hero-fulscreen-menu
	.hero-fullscreen-menu-nav
	.hero-fullscreen-menu__link
		width 100%

	.hero-fullscreen-menu-nav
		// padding-right 26px
		padding-top 50px
		margin-bottom 62px
		margin-top auto
		
	.hero-fullscreen-menu__link
		font-size 28px
		padding-right 15px
		text-align right
		display block
	

	.hero-menu_socials
		width: 100%;
		display: flex;
		justify-content: space-evenly;
	.hero-fullscreen-menu-bottom
		flex-direction column
		justify-content center
		margin-bottom auto
	.hero-fullscreen-menu-socilas
		width 100%
		display flex
		flex-direction row
		justify-content space-around
		margin-bottom 26px
	.hero-fullscreen-menu-socials__item
		margin 0

	.menu-logo--mobile
		display block
	.menu-logo--desktop
		display none

	.menu-mobile_btn
		display block
		margin-bottom 26px
		margin-top 26px
	.menu-desktop_btn
		display none
	.hero-menu-btn
		top -26px
		left -25px

@media (max-width 1368px) and (min-width 500px)
	.offer
		transform scale(0.65)
		bottom: -8vh;
		left: 4vw;
	.descriptor
		margin-bottom 0
	.hero-cta
		img
			transform scale(0.65)
	.hero-fulscreen-menu-wrap
		padding-top 90px
	.hero-fulscreen-menu
		width 95%
	.hero-fullscreen-menu-socials__item
		margin-right 0
		*
			max-height 32px


@media (max-width 380px)
	.offer
		font-size 27px
@media (min-width 1400px) and (max-width 1800px)
	#hero-super-logo--desktop
		left -10px
	.c-hero-super-logo
		display flex
		svg
			transform scaleY(1.2)
			position absolute
			top 70px
	.headliner
		font-size 45px
	.hero-phone
		margin-top 0
		padding-top 0
	.hero-fulscreen-menu
		width 100%
		&-wrap
			padding-right 115px


@media (min-width 500px) and (max-width 1200px)
	.c-hero-super-logo
		display flex !important
		svg
			transform scaleY(1.5) !important
			position absolute !important
			top 70px !important
	.offer
		left -2vw !important
		bottom -2vh !important
.hero-menu__item:hover
	-webkit-text-stroke 1px #fff !important
	color transparent !important










// @media only screen and (max-width: 480px) and (min-height: 812px) and (-webkit-device-pixel-ratio: 2)
// 	.hero-fullscreen-menu-nav
// 		padding-top 30%
// 		margin-bottom 10%
// 	.hero-nav
// 		top 36px
// 	.offer 
// 		bottom 10vh