@import 'header/header.styl'

@import 'footer/footer.styl'
@import 'titles/titles.styl'
@import 'modals/modals.styl'
@import 'timer/timer.styl'


@import 'components/components.styl'

@import 'controls/controls.styl'

@import 'hero/hero.styl'

@import 'results/results.styl'

@import 'services/services.styl'

@import 'exp/exp.styl'

@import 'counter/counter.styl'

@import 'work/work.styl'

@import 'brief/brief.styl'

@import 'cases/cases.styl'

@import 'comfort/comfort.styl'

@import 'testimonials/testimonials.styl'

@import 'form/form.styl'

@import 'bonus/bonus.styl'

@import 'footer-slider/footer-slider.styl'