// Шапка
@import 'header/header.styl'


// Футера
@import 'footer/footer.styl'

// Навигация
@import 'navigation/navigation.styl'

//Кнопки
@import "buttons/buttons.styl"

//Заголовки
@import "titles/titles.styl"

@import "exp/exp.styl"

@import "services/services.styl"

@import "work/work.styl"

@import "cases/cases.styl"

@import "reviews/reviews.styl"

@import "form/form.styl"

