extends ../layout/main

block variables
	- var title = 'Создание и продвижение онлайн-магазинов на Amazon и Ebay с доходом от $3000';
	- var pageClass = 'index-page';
	- var byPhone = '+375 00 000 00 00';
	- var byPhoneLnk = 'tel:+375000000000';
	- var ruPhone = '+7 000 000 00 00';
	- var ruPhoneLnk = 'tel:+700000000000';
	- var email = 'hello@fadeevgroup.com';
	- var unp = '000000000';

	- var ig = 'https://instagram.com';
	- var vk = 'https://vk.com';
	- var fb = 'https://facebook.com';
	- var tg = 'https://telegram.org';
	- var wa = 'https://whatsapp.com';
	- var vi = 'https://viber.com';

	- var policy = '';
	- var reject = '';

	- var fvgWorld = '//world.fadeevgroup.com';
	- var fvgSoicals = '//socials.fadeevgroup.com';

block content