// ЦВЕТА

clr-prim = #ED2828
clr-prim-d = #BA1F1F
clr-second = #FF9F1C

clr-bg--l = #1C1C1C
clr-bg--d = #111213

clr-f = #FFFFFF
clr-f-l = #BEBEBE
// РАЗМЕРЫ

s1 = 26px
s2 = 62px
s22 = 68px
s2x = 124px


f-regular = 16px
f-microtitle = 28px
f-minititle = 36px
f-title = 70px


desktop = 1260px
laptopDesktop = 1025px
tabletPor = 768px
tabletLand = 1024px
lowTabletLand = 481px
phonePor = 340px
phoneLand = 480px


// ШРИФТЫ

mainFont = Montserrat
