// colors BEGIN
c-prim = red
c-second = green

clr-f-title = #232323

// РАЗМЕРЫ
s1 = 26px
s2 = 62px
s22 = 68px
s2x = 124px

f-regular = 16px
f-microtitle = 28px
f-minititle = 36px
f-title = 70px

desktop = 1260px
laptopDesktop = 1025px
tabletPor = 768px
tabletLand = 1024px
lowTabletLand = 481px
phonePor = 360px
phoneLand = 480px


// ШРИФТЫ

mainFont = Montserrat
