// colors BEGIN
c-prim = red
c-second = green

clr-f-title = #232323

s1 = 26px
s2 = 62px
s22 = 68px
s2x = 124px

f-reg = 16px
f-btn = 16px
f-h3 = 28px
f-h2 = 36px
f-h1-sub = 36px
f-h1 = 70px

desktop = 1200px
laptopDesktop = 1199px
tabletPor = 768px
tabletLand = 991px
lsTabletLand = 992px
phonePor = 360px
phoneLand = 767px


// ШРИФТЫ

mainFont = Montserrat


/*
	snippets
	
	sme - medias
	si - import
	skf - keyframe
	sff - font-face

	pi - include pug
	ps - seciton
	pm - pug mixin
	ppic - picture
	
*/