// rolling-title

.rolling-title
	margin-bottom 90px
	&__item
		font-size 60px
		font-weight 900
		margin-right 26px
		margin-bottom 0 !important
		color: c-bg;
		max-width 100%
		text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;

.rolling-title-row--1
.rolling-title-row--2
.rolling-title-row--3
	overflow hidden
	transition all 0.4s ease
	width 1760vw
	
@media (max-width 480px)
	.footer-title 
		.rolling-title-row--1
		.rolling-title-row--2, 
		.rolling-title-row--3
			width 1860% !important

.first-active-title{
	color: #fff !important;
	text-shadow: none !important;	
}


.footer-title
	text-align left !important
	.rolling-title-row--1
	.rolling-title-row--2
	.rolling-title-row--3
		width 1760vw
		// width 1760vw !important


.rolling-title__item
	f-rolling-title()
	display inline-block
	margin-right 26px
	&:hover
		color #fff
		text-shadow none
.title-row-2
	position relative
	left -50%
	// transform: translate(-50%);

@media (max-width 480px)
	.rolling-title__item
		font-size 32px
	.title-row-2
		left -300%
	.title-row-1
	.title-row-2
	.title-row-3
		width 2000vw

@media (max-width 1260px) and (min-width 481px)
	.title-row-2
		left -300%
	.title-row-1
	.title-row-2
	.title-row-3
		width 2000vw




// card
.card
	position relative
	width 32%
	max-width 402px

	background-color c-surface
	border-radius 12px

	padding-top 54px
	padding-bottom 54px
	margin-bottom 36px
	shade()

.card-number
	f-important-bold()
	color c-second
	text-align center

.card-img
	display inline-flex
	max-width 100%
	object-fit cover
	img
		width 100%
		object-fit contain
.card-text
	text-align center
	max-width 266px
	margin 0 auto

.prephrase-stats
	.card-img
		display flex
		justify-content center
		width 100%
		max-height 115px
		margin-bottom 10px
		margin-bottom 26px
		*
			max-height 115px
			width auto

.service
	.card-img
		max-height 215px
		.img-loading
			margin-bottom 26px
		*[src*='1']
			width 63px
			margin-left auto
			margin-right auto

@media (max-width 480px)
	.card
		width 90%
		margin-left auto
		margin-right auto
		padding-top 34px
		padding-bottom 34px

	.gdpr
		width 100% !important
		font-size 12px !important
		
		a
			font-size 12px !important
	.rolling-title__item
		margin-right 10px


// case
.case
	max-width 617px
	background-color c-surface
	display inline-flex
	shade()
	overflow-y hidden
	border-radius 12px
	p
		color c-f-secondary

.case-pic
	align-self flex-start
.case-number
	font-weight 600
.case-text
	padding 57px 67px
	padding 27px 37px 27px 0

.case-title
	margin-bottom 26px
	color c-second
	font-weight 900

.case-stats
	margin-bottom 16px

.case-row
	display inline-flex
	align-items baseline
	margin-bottom 	6px
	p
		margin-right 10px

.case-descr
	margin-bottom 26px



// testimonial
.testimonial
	max-width 617px
	background-color c-surface
	border-radius 12px
	shade()

.testimonial-pic
	height 317px
	position relative
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 53.12%, rgba(0, 0, 0, 0.05) 76.04%, rgba(0, 0, 0, 0.4) 100%)

.testimonial-person
	position absolute
	bottom 20px
	left 68px

.testimonial-text
	padding 57px 67px

.hero-fullscreen-menu-socials__item:hover
	*
		stroke none
		fill c-prim


.gdpr
	font-size 12px
	flex-basis 60%
	line-height 1.2
	*
		font-size inherit
