.footer-bg{
	padding-top 60px
	background #000
	// margin-top: 50px;
	// box-shadow: 0 -40px 60px #000;
}
.footer-bg .slick-dotted.slick-slider{margin-bottom: 0px;}

.footer-title{
	text-align: center;
	margin-bottom: 40px;
}
.footer-content .section-title{
	text-shadow: 4px 5px 0 #000;
}
.hero-bg--variable
	width 100vw
	height 100vh
	position absolute
	left 0
	top 0
	z-index -2
	transition all 0.3s ease
	// background url("../img/content/hero-branding.png")
	background-size cover
	filter: blur(20px)

.branding
.delivery
.world
	margin 0 72px
	// box-shadow: 0px 6.88829px 45.7616px rgba(255, 255, 255, 0.141362);
	border-radius 28px
	min-height 700px !important
	width 1360px !important
	display flex
	align-items center

.world
	background-color #0B0A0B
.delivery
	background-color #0A0A0C





.footer-btn
	display block
	background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #F41814;
	background-blend-mode: overlay, normal;
	color #fff
	font-weight 600
	font-size 18px
	border-radius 60px
	padding 13px 73px
	max-width 330px
	line-height 2
	text-align center
	transition all 0.4s ease
	&:hover
		transition all 0.4s ease
		box-shadow: 0px -7.60688px 141.271px rgba(211, 49, 49, 0.3), 0px -3.17797px 59.0195px rgba(211, 49, 49, 0.215656), 0px -1.6991px 31.5546px rgba(211, 49, 49, 0.178832), 0px -0.952499px 17.6893px rgba(211, 49, 49, 0.15), 0px -0.505865px 9.39464px rgba(211, 49, 49, 0.121168), 0px -0.210502px 3.90932px rgba(211, 49, 49, 0.0843437);



.branding
	// padding 40px
	background: url('../img/content/hero-branding.png'), #000C34
	background-size cover !important
    background-position-x: -4px
	background-repeat no-repeat

.branding_inner
	// max-width 45%
	max-width 55%
	margin-left auto
	display flex
	flex-direction column
.branding_title
	position relative
	font-weight: 900;
	font-size: 61px;
	line-height: 95%;
	// text-align: center;
	color #fff
	margin-bottom 25px
	margin-left auto
	width 85%
.branding_title:after
	content ''
	display block
	width 75px
	height 8px
	background-color #FB2721
	position absolute
	left 55%
	// right 0
	bottom 10px

.branding-offer
	margin-bottom 20px
	padding-left 35px
.branding-offer_title
	font-size 27px
	position relative
	color #fff
	display flex
	align-items center
	margin-bottom 5px
	
.branding-bullet--before
	display block
	// width 110pxs
	// height 54pxs
	position relative
	margin-right 10px
	transform scale(0.8)
	top 2px
.branding-offer--web:before
	content url(../img/general/1-websites.svg)
	@extends .branding-bullet--before
.branding-offer--support:before
	content url(../img/general/2-support.svg)
	@extends .branding-bullet--before
.branding-offer--design:before
	content url(../img/general/3-design.svg)
	@extends .branding-bullet--before
.branding-offer--smm:before
	content url(../img/general/4-smm.svg)
	@extends .branding-bullet--before
.branding-offer--seo:before
	content url(../img/general/5-seo.svg)
	@extends .branding-bullet--before

.branding-offer
	position relative

.branding-line_outer
	position absolute
	left -30px
	top 0
// .branding-line_text
// 	color #fff
// 	font-weight: 900;
// 	font-size: 38px;
// 	writing-mode: vertical-rl;
// 	transform rotate(-180deg)
// 	position absolute
// 	top 0
// 	left 0
// 	z-index 2
// .branding-line
// 	position absolute
// 	left 35px
// 	z-index 1
// 	display block
// 	width 13px
// 	height 300px
// 	background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #F41814;
// 	background-blend-mode: overlay, normal;



.slide-inner
	display flex
	justify-content center
	align-items center



.world
	position relative
	padding 90px 90px
.world_inner
	position relative
	z-index 2
	max-width 45%

.world_title
	font-weight: 900;
	font-size: 40px;
	line-height: 120%;
	margin-bottom 37px
	color #fff
.world-offer
	position relative
.world-offer:before
	content: url('../img/general/numbers.svg')
	position absolute
	left -30px
	top -10px
.world-offer_title
	padding-left 45px
	font-size: 26px;
	line-height: 130%;
	margin-bottom 37px
	color #fff
.world_bg
	width 50%
	background: linear-gradient(90.63deg, #09090A 0.53%, rgba(9, 9, 10, 0) 25.47%), url('../img/content/hero-world.png')
	background-size cover
	border-radius 0 16px 16px 0
	height 700px
	position absolute
	right 0
	// z-index 20
	top 0





.delivery_bg
	height 100%
	width 100%
	background: url('../img/content/hero-delivery.png')
	background-size cover
	border-radius 32px
	position absolute
	right 0
	z-index 0
	top 0










@media(min-width 1260px) and (max-width 1600px)
	.slide-inner
		margin-bottom 10px
		height 530px
	.logo-container
		padding-top 10px
		margin-bottom 10px
	.logo
		width 200px
	.branding .footer-btn
		margin-left 65px
	.branding
	.world
		// background-position-x -80px
		min-height 530px !important
		width: 1260px !important;
	.branding_title
		font-size 40px
		margin-bottom 20px
	.branding-offer_title
		font-size 28px
	.branding-offer
		margin-left: 35px;
		margin-bottom 10px
	.branding-line
		height 242px
	
	.world
		padding-top 30px
		padding-bottom 30px
		padding-left 90px
		overflow hidden
	.world_title
		font-size 30px
	.world-offer_title
		font-size 22px
	.world-inner
		position relative
		z-index 2





*{
	outline none !important
}


.footer-socials{
	background-image: url(../img/content/footer-socials.png);
	background-size: cover;
	width 1124px;
	height: 100%;
	border-radius: 26px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	background-position-x: 190px;
	background-size: 100%;
	background-position-y: -92px;;
}

.footer-socials_texts{
	height: 100%;}
.footer-socials_inner{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: #182C42;
	width: 33%;
	height: 100%;
	border-radius: 26px 0 0 26px;;
}
.footer-socials-bullets{
	padding: 40px 40px 40px 70px
	color #fff
	overflow hidden
	position: relative;
	z-index: 2;
	font-size: 20px;
	font-weight: 600;
}

.footer-socials-bullets::before{
	content ''
	display: block;
	background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #D93621;
	background-blend-mode: overlay, normal;
	width: 10px;
	height: 200px;
	position: absolute;
	top: 30px;
	left: 35px;
	z-index: 3;
}
// .footer-socials-bullets::after{
// 	content 'услуги'
// 	font-weight: 700;
// 	/* writing-mode: vertical-lr; */
// 	 transform: scale(-1,1); 
// 	transform rotate(-90deg)
// 	position: absolute;
// 	top: 54px;
// 	left: -9px;
// 	z-index: 4;
// }
.footer-social_bullet{
	position: relative;
	z-index: 2;
	line-height: 1.5;
	margin-bottom: 10px;
}

.footer-bullets_blur{
	background: rgba(255, 255, 255, 0.03);
	border-radius: 26px;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	backdrop-filter: blur(40px);
	z-index: -1;
}
.footer-socials_texts{
	display: flex;
	justify-content: flex-start;
	width: 100%;
}
.footer-socials_link{
	opacity: 0
}
@media (max-width 1080px)
	.hero-bg
		padding-left 0
	.logo-container
		margin-bottom 10px
		padding-top 10px
	.logo
		width 150px
	.footer-btn
		padding-left 0
		padding-right 0
		width 100%
		text-align center

	.slide-inner
		margin-bottom: 10px;
		justify-content center
		height 570px

	.branding
		background-position-x 0 !important
	.branding
	.delivery
	.world
	.footer-socials
		overflow hidden
		max-width 300px
		padding 0 
		margin 0 20px
		min-height 500px !important
		height: 560px;
		display: flex;
		justify-content: flex-end;
		flex-direction: column;
		background-size: 140%;
		background-position-x: -60px;
		background-position-y: 0px;
	.footer-socials_texts{
		justify-content: flex-end;
	}
	.footer-socials_inner{
		height: auto;
		width: 100%;
		background: #1c334a;
		border-radius: 0;
	}
	.branding_inner
	.delivery_inner
	.world_inner
		z-index 2
		margin-left 0
		max-width 100%

	.branding_inner
		padding-top 250px
	.world_inner
		padding-top 150px
	.branding
		background-image url('../img/content/hero-branding-mobile.png')
		background-position-y -100px
		background-repeat no-repeat
		
	.branding_title
		font-size 30px
		padding-left 0
		margin 0 auto 20px
	.branding-offer_title
		font-size 16px
		margin-bottom 0px
	.branding_title:after 
		width 46px
		height 6px
		left 77%
	.branding-offer
		margin-left 10px
		padding-left 0
		margin-bottom 10px
	.branding-line_outer
		left -15px
	.branding-line
		height 130px
		width 10px
	.branding-line_text
		font-size 20px
		left 16px




	.world_bg
		background: linear-gradient(359.89deg, #09090A 0.65%, rgba(9, 9, 10, 0) 15.64%), url('../img/content/hero-world.png')
		max-width 300px
		max-height 279px !important
		background-size cover
		top 0
		left 0
		width 100%
		z-index 1
	.world_inner
		position relative
		z-index 2

	.world_title
		font-size 20px
		padding-left 10px
	.world-offer
		margin-left auto
		max-width 95%
	.world-offer:before
		left -20px
	.world-offer_title
		font-size 16px
		margin-bottom 30	px




	.delivery
		background-color #1C0B0B
	.delivery_bg
		width 300px
		height 259px
		background-position-x -150px


	.footer-socials{
		width: 300px;
	}
	.footer-socials-bullets{
		background: #1c334a;
		border-radius: 24px 24px 0 0;
	}
	.footer-social_bullet{
		font-size: 16px;
	}
	.footer-socials_texts{
		flex-direction: column;
	}
	.footer-socials-bullets::after{
		top: 53px;
		left: -8px;
	}
@media (min-width: 1800px)
	.hero-bg{
		padding-bottom: 50px;
	}
	.branding{
		background-position: -40px;
	}
	.branding .footer-btn {
		margin-left: 35px;
	}
	.world{
		min-height: 680px;
		max-height: 680px;
		padding: 0 90px;
		border-radius: 32px;
	}

	.footer-socials{
		min-height: 700px;
		width: 80%;
		background-position-x: 218px
	}
	.footer-socials_texts {
	height: 700px;
	}
@media (max-width: 380px)
	.hero-bg{justify-content: flex-start;}
	.logo-container{
		margin-bottom: 0;
	}
	.slide-inner{
		margin-bottom: 0;
	}
