.slider-bg
	background-color #000
	margin-bottom 0
.logo-container
	display flex
	justify-content center
	padding-top 50px
	margin-bottom 30px
.logo
	text-align center
	margin 0 auto
	color #fff
	padding-top 30px
	font-size 32px
	margin-bottom 30px

.branding
.delivery
.world
	margin 0 72px
	// box-shadow: 0px 6.88829px 45.7616px rgba(255, 255, 255, 0.141362);
	border-radius 28px
	min-height 700px !important
	width 1360px !important

.world
	background-color #0B0A0B
.delivery
	background-color #0A0A0C





.btn
	display block
	background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #F41814;
	background-blend-mode: overlay, normal;
	color #fff
	font-weight 600
	font-size 18px
	border-radius 60px
	padding 13px 73px
	max-width 330px
	line-height 2
	text-align center
	transition all 0.4s ease
	&:hover
		transition all 0.4s ease
		box-shadow: 0px -7.60688px 141.271px rgba(211, 49, 49, 0.3), 0px -3.17797px 59.0195px rgba(211, 49, 49, 0.215656), 0px -1.6991px 31.5546px rgba(211, 49, 49, 0.178832), 0px -0.952499px 17.6893px rgba(211, 49, 49, 0.15), 0px -0.505865px 9.39464px rgba(211, 49, 49, 0.121168), 0px -0.210502px 3.90932px rgba(211, 49, 49, 0.0843437);



.branding
	padding 90px 40px
	background-image url('../img/footer-branding-normal.webp')
	background-size cover

.branding_inner
	max-width 45%
	margin-left auto
	display flex
	flex-direction column
.branding_title
	font-weight: 900;
	font-size: 61px;
	line-height: 95%;
	text-align: center;
	color #fff
	margin-bottom 60px

.branding-offer
	margin-bottom 27px
	padding-left 40px
.branding-offer_title
	font-weight 900
	font-size 37px
	margin-bottom 30px
.branding-offer--web
	color: #42BBFF;
	text-shadow: 0px 31.3332px 40.5243px rgba(8, 117, 180, 0.273165), 0px 16.7522px 21.6662px rgba(8, 117, 180, 0.226521), 0px 9.39116px 12.1459px rgba(8, 117, 180, 0.19), 0px 4.98758px 6.4506px rgba(8, 117, 180, 0.153479), 0px 2.07544px 2.68424px rgba(8, 117, 180, 0.106835);
.branding-offer--support
	color: #00F266;
	text-shadow: 0px 31.3332px 40.5243px rgba(0, 204, 86, 0.273165), 0px 16.7522px 21.6662px rgba(0, 204, 86, 0.226521), 0px 9.39116px 12.1459px rgba(0, 204, 86, 0.19), 0px 4.98758px 6.4506px rgba(0, 204, 86, 0.153479), 0px 2.07544px 2.68424px rgba(0, 204, 86, 0.106835);
.branding-offer--design
	color: #A72CC7;
	text-shadow: 0px 41.7776px 61.4131px rgba(130, 30, 156, 0.438501), 0px 22.3363px 32.8344px rgba(130, 30, 156, 0.363625), 0px 12.5216px 18.4067px rgba(130, 30, 156, 0.305), 0px 6.6501px 9.77565px rgba(130, 30, 156, 0.246375), 0px 2.76726px 4.06787px rgba(130, 30, 156, 0.171499);
.branding-offer--smm
	color: #E53747;
	text-shadow: 0px 33px 229px rgba(247, 32, 26, 0.35), 0px 17.2944px 115.365px rgba(247, 32, 26, 0.251599), 0px 12.0234px 80.2171px rgba(247, 32, 26, 0.208638), 0px 8.77852px 58.7127px rgba(247, 32, 26, 0.175), 0px 6.02725px 40.0414px rgba(247, 32, 26, 0.141362), 0px 3.19285px 20.8833px rgba(247, 32, 26, 0.098401);
.branding-offer--seo
	color: #FF7A00;
	text-shadow: 0px 41.7776px 33.4221px rgba(158, 77, 3, 0.208468), 0px 22.3363px 17.869px rgba(158, 77, 3, 0.172871), 0px 12.5216px 10.0172px rgba(158, 77, 3, 0.145), 0px 6.6501px 5.32008px rgba(158, 77, 3, 0.117129), 0px 2.76726px 2.21381px rgba(158, 77, 3, 0.0815322);

.branding-offer
	position relative

.branding-line_outer
	position absolute
	left -30px
	top 0
.branding-line_text
	color #fff
	font-weight: 900;
	font-size: 38px;
	writing-mode: vertical-rl;
	transform rotate(-180deg)
	position absolute
	top 0
	left 0
	z-index 2
.branding-line
	position absolute
	left 35px
	z-index 1
	display block
	width 13px
	height 230px
	background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #F41814;
	background-blend-mode: overlay, normal;



.slide-inner
	display flex
	justify-content center
	align-items center



.world
	position relative
	padding 90px 90px
.world_inner
	max-width 45%

.world_title
	font-weight: 900;
	font-size: 40px;
	line-height: 120%;
	margin-bottom 37px
	color #fff
.world-offer
	position relative
.world-offer:before
	content: url('../img/general/numbers.svg')
	position absolute
	left -30px
	top -10px
.world-offer_title
	padding-left 45px
	font-size: 26px;
	line-height: 130%;
	margin-bottom 37px
	color #fff
.world_bg
	width 50%
	background: linear-gradient(90.63deg, #09090A 0.53%, rgba(9, 9, 10, 0) 15.47%), url('../img/footer-world-normal.webp')
	background-size cover
	border-radius 0 16px 16px 0
	height 700px
	position absolute
	right 0
	// z-index 20
	top 0

.world_inner
	position relative
	z-index 20



.delivery_bg
	width 100%
	background: url('../img/footer-delivery-normal.webp')
	background-size cover
	border-radius 0 16px 16px 0
	height 600px
	position absolute
	right 0
	z-index 0
	top 0






@media(min-width 1800px)
	.branding
		background-position-x -150px
	.branding-line
		height 330px



@media(min-width 1260px) and (max-width 1600px)
	.logo-container
		padding-top 20px
		margin-bottom 20px
	.branding
		background-position-x -50px
	.branding
	.world
		// background-position-x -80px
		min-height 350px !important
		width: 1260px !important;
	.branding_title
		font-size 40px
		margin-bottom 20px
	.branding-offer_title
		font-size 28px
		margin-bottom 10px
	// .branding-offer
	// 	margin-bottom 0
	.branding-line
		height 200px

	.world
		padding-top 40px
		padding-bottom 40px
		padding-left 90px
	.world_title
		font-size 30px
	.world-offer_title
		font-size 22px
	.world-inner
		position relative
		z-index 2



@media (max-width 480px)
	.hero-bg
		padding-left 0
	.logo-container
		margin-bottom 20px
		padding-top 20px
	.btn
		padding-left 0
		padding-right 0
		width 100%
		text-align center

	.slide-inner
		justify-content stretch
	.branding
	.delivery
	.world
		overflow hidden
		max-width 300px
		padding 10px !important
		margin 0 20px
		min-height 500px !important
	.branding_inner
	.delivery_inner
	.world_inner
		margin-left 0
		max-width 100%

	.branding_inner
		padding-top 250px
	.world_inner
		padding-top 150px
	.branding
		background-image url('../img/footer-branding-mobile-normal.webp')

	.branding_title
		font-size 30px
		margin-bottom 20px
	.branding-offer_title
		font-size 19px
		margin-bottom 5px

	.branding-line_outer
		left -15px
	.branding-line
		height 130px
		width 10px
	.branding-line_text
		font-size 20px
		left 16px




	.world_bg
		background: linear-gradient(359.89deg, #09090A 0.65%, rgba(9, 9, 10, 0) 15.64%), url('../img/footer-world-normal.webp')
		max-width 300px
		max-height 279px !important
		background-size cover
		top 0
		left 0
		width 100%
		z-index 1
	.world_inner
		position relative
		z-index 2

	.world_title
		font-size 20px
		padding-left 10px

	.world-offer:before
		left -20px
	.world-offer_title
		font-size 16px
		margin-bottom 30	px




	.delivery
		background-color #1C0B0B
	.delivery_bg
		width 300px
		height 259px
		background-position-x -150px




// footer
footer
	padding-top 90px
	padding-bottom 40px
	display flex
	justify-content space-between

.footer-logo_container
	display flex
	flex-direction column

.footer-logo_descriptor
	text-align center
	color #fff
	opacity 0.8
	font-size 14px



.footer_link
	color #fff
	opacity 0.8
	font-size 16px
	margin-bottom 5px
	trans()
.footer_link:hover
	color c-prim
	trans()


.footer-links
	display flex
.footer-links-1
	display flex
	flex-direction column
	margin-right 26px
.footer-links-2
	display flex
	flex-direction column

.socials_item
	margin-right 16px
.socials_item:last-child
	margin-right 0

.socials_item-icon:hover
	fill c-prim
	stroke c-prim
	trans()






@media (max-width 480px)
	footer
		flex-direction column
		align-items center
	.footer-logo_container
		margin-bottom 26px
	.footer-links-1
		margin-right 0
	.footer-links
		flex-direction column
		align-items center
		text-align center
		margin-bottom 26px


.footer-socilas svg
	margin-right 16px
.footer-socilas svg:last-child
	margin-right 0
