include ../mixins
block variables

doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		title #{title}
		<!--[if IE]>
		meta(http-equiv='X-UA-Compatible', content="IE = edge")
		<![endif]-->
		meta(name="viewport" content="width=device-width,initial-scale=1")
		meta(name="keywords" content="")

		link(rel="stylesheet" type='text/css' href="static/css/main.css")

		//- link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap" rel="stylesheet")

		link( rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css")

		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css")


		link( rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css")

		<!--[if lt IE 9]>
		script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
		<![endif]-->

	body(class=pageClass)
		.wrapper
			include ../modules/header
			.content
				block content
				include ../modules/hero
				include ../modules/results
				include ../modules/services
				include ../modules/timer
				include ../modules/exp
				include ../modules/work
				include ../modules/brief
				include ../modules/cases
				include ../modules/comfort2
				include ../modules/reviews
				include ../modules/form
				include ../modules/bonus
				include ../modules/footer-slider
				include ../modules/modals
			include ../modules/footer

		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')

		script(src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js')

		script(src='https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js')
		//- script(src="static/js/jquery.js")


		script(src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r83/three.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.4/imagesloaded.pkgd.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.4/TweenMax.min.js")
			
		script(src="static/js/confetti.min.js")
		script(src="static/js/libs.min.js")
		script(src="static/js/main.js")


		block script
