.comfort
	h2
		font-size: 40px
	

.comfort-list
	display flex
	justify-content space-around
	padding-top 150px
// .comfort-list-left
.comfort-list-right {
	padding-top 80px
}



.comfort-item {
	max-width 520px
	display flex
	justify-content center
	align-items center
	flex-direction column
	padding 80px 50px 20px
	margin-bottom 140px
	background-color c-surface
	border-radius 10px
	position relative
	shade()
}


.comfort-item_img {
	position absolute
	top -60px
	left 0
	right 0
	margin 0 auto
}

.comfort-item--1 img {
	top -100px
}
.comfort-item--2 img {
	top -80px
}

.comfort-item_text {
	margin-bottom 20px
	text-align center
}
	
.emp_main-color
	color c-second

a.emp_main-color {
	font-weight 600
	text-decoration underline
}
a.emp_main-color:hover {
	text-decoration none
}





@media (max-width 1170px) {
	.comfort h2 {
		font-size 25px
	}
	.comfort-list {
		flex-direction column
	}
	
	.comfort-item {
		padding-left 20px
		padding-right 20px
	}
	
	.comfort-item_text {
		line-height 1.6
	}
	.comfort-list-right {
		padding-top 0
	}
	.comfort-item {
		max-width 320px
		margin-left auto
		margin-right auto
	}
}