section.footer-bg
	.footer-content
		+title('Проекты FADEEV GROUP', 15, 'footer')
		.footer-slider-wrap
			.js-footer-slider


				.slide-wrap
					.slide-inner
						.world
							.world_inner
								h2.world_title Покупка и доставка товаров со всех торговых площадок
								ul.world-offer
									li.world-offer_title Консультация по выбору товара
									li.world-offer_title Доставка без переплат
									li.world-offer_title Товары до двух раз дешевле, чем в вашем городе
								a(href="http://delivery.fadeevgroup.com").footer-btn Перейти на сайт
							.delivery_bg
				.slide-wrap
					.slide-inner
						.world
							.world_inner
								h2.world_title Создаю/продвигаю <br>онлайн-магазины <br>на Amazon и Ebay <br>с доходом от $3000
								ul.world-offer
									li.world-offer_title  Создание и ведение магазина
									li.world-offer_title Консультация по товару/услуге
									li.world-offer_title Продвижение в топ поиска торговых площадок
								a(href="http://world.fadeevgroup.com").footer-btn Перейти на сайт
							.world_bg



				.slide-wrap
					.slide-inner
						.branding
							.branding_inner
								h2.branding_title Брендинговое агентство
								ul.branding-offer
									li.branding-offer_title.branding-offer--web Создание сайтов
									li.branding-offer_title.branding-offer--support Техподдержка
									li.branding-offer_title.branding-offer--design Дизайн
									li.branding-offer_title.branding-offer--smm SMM
									li.branding-offer_title.branding-offer--seo SEO
									li.branding-line_outer
										.branding-line_text услуги
										.branding-line
								a(href="http://branding.fadeevgroup.com").footer-btn Перейти на сайт

				.slide-wrap
					.slide-inner
						.footer-socials
							.footer-socials_texts
								.footer-socials_inner
									ul.footer-socials-bullets
										li.footer-social_bullet Реклама в Instagram, VK, Telegram, Youtube
										li.footer-social_bullet Нативная 
										li.footer-social_bullet Видео
										li.footer-social_bullet Посты 
									a.footer-btn(href="//socials.fadeevgroup.com") Перейти на сайт

