

.testimonials-wrap
	padding-bottom 10px

.testimonial-wrap
	margin-bottom 25px

.testimonials-content
	padding-left 100px
	padding-right 10px
.reviews{
	margin-bottom: 120px;
}
@media (max-width 480px)
	.testimonials-content
		padding-left 10px
	.testimonial-text
		padding 27px 37px
	.testimonial-person
		left 37px
	.reviews
		margin-bottom 124px

@media (min-width 1600px)
	.testimonials-content
		padding-left 150px
		padding-right 100px
		
@media (max-width 1200px) and (min-width 500px)
	.testimonial
		margin: 0 auto;
