.form
	padding-top 80px
	padding-bottom 124px



.form-content
	background-color c-second
	border-radius 12px
	display flex
	justify-content space-between
	padding 60px

.form_title
	color #232323
	font-weight 900
	font-size 32px
	span
		color #fff



.form-left
	flex-basis 60%
	margin-right 62px



.form-right
	display flex
	flex-direction column
	flex-basis 50%
.form-contacts
	display flex
	justify-content space-between
.form-buttons
	display flex
	justify-content space-between
	align-items flex-start
.form-submit
	padding 20px 45px


@media (max-width 480px)
	.form-content
		padding 20px
		flex-direction column

	.form_title
		font-size 20px

	.form_pic
		display none


	.form-left
		flex-basis 100%
		margin-right 0
		margin-bottom 32px

	.form-contacts
		flex-direction column

	.form-buttons
		flex-direction column
		align-items stretch
	.form-submit
		margin-bottom 26px






